:host{
    .paginationContainer{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    .btn{
        color: black;
        padding: 10px 15px;
        border-radius: 5px;
        border:none;
    }

    .active{
        color: white;
        background-color: #1976d2;
        
    }

    .disabled{
        color: white;
        background-color: lightgray;
        
    }
}
    
